/* ================================ GRID AREA ================ */

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header '
  'photo1 photo2 photo3 photo4 '
  'footer1 footer1 footer2 footer2 ';
  width: 80%;
  margin: 0 auto;
  grid-gap: 1px;
}

.header {
  grid-area: header;
}

.photo1 {
  grid-area: photo1;
}

.photo2 {
  grid-area: photo2;
}

.photo3 {
  grid-area: photo3;
}

.photo4 {
  grid-area: photo4;
}

.footer1 {
  grid-area: footer1;
}

.footer2 {
  grid-area: footer2;
}

/* ========================== HEADER ================== */

.big-image {
  width: 100%;
  height: 70vh;
  background-image: url(../images/header.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  width: 100%;
  height: 100%;
  /* background-color: grey; */
  opacity: 1;
  color: white;
  font-family: 'Mukta', sans-serif; 
}

.big-text {
    position: relative;
    font-size: 80px;
    text-align: center;
    top: 20%;
    font-weight: 100;
    
}

.medium-text {
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 13%;
    font-weight: 100;
    width: 50%;
    margin: 0 auto;
}

.small-text {
    position: relative;
    font-size: 25px;
    text-align: center;
    top: 13%;
    font-weight: 100;
    width: 50%;
    margin: 0 auto;
}

.small-text a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    position: relative;
    top: 10%;
    height: 40px;
    border-radius: 5px;
    color: white;
    align-items: center;
    width: 70%;
    background-image: linear-gradient(#555251 50%, #7f7d7c 100%);
    justify-content: space-evenly;
    margin: 0 auto;
}

.navbar-item {
    flex: 1;
}

.navbar-item img {
    width: 20px;
    height: 20pxs;
}

#search {
    border-radius: 50px;
    width: 80%;
}
/* =========================== PHOTO SECTION ============= */

.cell {
  width: 100%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 100%;
}

/* =========================== FOOTER SECTION ============== */

.info {
  font-size: 10px;
  color: grey;
}

.info-link {
  text-decoration: none;
  color: #326891;
}

.info-right {
  padding-left: 5%;
  margin-top: 20px;
}

.info-left {
  padding-left: 15%;
  margin-top: 20px;
}

.little-image {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
